.App {
  text-align: center;
}

h1 {
  font-family: "reeyregular", sans-serif;
  font-size: 2.5em; /* Ajuste conforme necessário */
  font-weight: 700; /* Ajuste conforme necessário */
  color: #cfcfcf; /* Cor do texto */
  margin-bottom: 20px; /* Espaçamento inferior */
}

h1:hover {
  color: #007BFF; /* Cor do texto ao passar o mouse */
  transform: scale(1.05); /* Aumenta ligeiramente o tamanho ao passar o mouse */
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

h1, h2, p {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

p {
  font-family: "Segoe UI", sans-serif;
  font-size: 1em; /* Ajuste conforme necessário */
  line-height: 1.6; /* Ajuste conforme necessário */
  margin-bottom: 15px; /* Espaçamento inferior */
}

h2 {
  font-family: "Times New Roman", serif;
  font-size: 2em; /* Ajuste conforme necessário */
  font-weight: 600; /* Ajuste conforme necessário */
  margin-bottom: 15px; /* Espaçamento inferior */
}